* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  font-size: 16px;
}

.wrapper {
  min-height: 100vh;
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.atmSection {
  min-height: 30vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.atmSection__item {
  height: 100px;
  width: 60px;
  margin: 20px 20px;
  color: #fff;
  background-color: #1ac40b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.atmSection__item-busy {
  background-color: #e20303c7;
}

.queueSection {
  height: 60vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.queueSection__item {
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
  margin: 0.5rem 0.5rem;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: new-item-animation .5s linear forwards;
          animation: new-item-animation .5s linear forwards;
}

.queueSection__item-1 {
  background-color: #5cbbbb;
}

.queueSection__item-2 {
  background-color: #edf101;
}

.queueSection__item-3 {
  background-color: #5fd31c;
}

.queueSection__item-4 {
  background-color: #430070;
}

.queueSection__item-5 {
  background-color: #fff;
}

.queueSection__item-6 {
  background-color: #000000;
}

.queueSection__item-7 {
  background-color: #752785;
}

.queueSection__item-8 {
  background-color: #202cd4;
}

.controlsSection {
  min-height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controlsSection__button {
  font-size: 1.5rem;
  margin: 0.7em;
  color: #fff;
  background-color: #a08c86;
  outline: none;
  border: 2px solid #ddc1ba;
}

.controlsSection__button:hover {
  background-color: #ddc1ba;
}

.controlsSection__button:active {
  border-color: #f55951;
}

.controlsSection__button-disabled {
  pointer-events: none;
}

@-webkit-keyframes new-item-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes new-item-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */